<section class="bg-gray-100">
    <div class="px-6 py-10">
        <h1 class="text-3xl font-bold text-center text-purple lg:text-4xl">FREQUENTLY ASKED QUESTIONS</h1>
        <div class="mt-12 space-y-8">
            <div class="border-2 border-white rounded-lg section">
                <button class="flex items-center justify-between w-full p-8">
                    <h1 class="font-bold text-gray-700 dark:text-white">What payment method do Loom support?</h1>

                    <span class="text-white bg-purple rounded-full">
                        <svg xmlns="http://www.w3.org/2000/svg" class="w-6 h-6" fill="none" viewBox="0 0 24 24" stroke="currentColor">
                            <path class="question" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M12 6v6m0 0v6m0-6h6m-6 0H6" />
                        </svg>
                    </span>
                </button>

                <hr class="border-gray-200 dark:border-gray-700">

                <p class="p-8 text-sm text-gray-500 dark:text-gray-300 answer hidden">
                   We accept payment methods from hundreds of countries. Register or log in to Loom to see the available methods in your region.
                </p>
            </div>

            <div class="border-2 border-white rounded-lg section">
                <button class="flex items-center justify-between w-full p-8">
                    <h1 class="font-semibold text-gray-700 dark:text-white">What are the minimum and maximum deposit amount?</h1>

                    <span class="text-white bg-purple rounded-full question">
                        <svg xmlns="http://www.w3.org/2000/svg" class="w-6 h-6" fill="none" viewBox="0 0 24 24" stroke="currentColor">
                            <path class="question" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M12 6v6m0 0v6m0-6h6m-6 0H6" />
                        </svg>
                    </span>
                </button>

                <hr class="border-gray-200 dark:border-gray-700">

                <p class="p-8 text-sm text-gray-500 dark:text-gray-300 answer hidden">
                    The limits for these are set by each individual payment provider. You can find the minimum and maximum for each method in Loom.
                </p>
            </div>

            <div class="border-2 border-white rounded-lg section">
                <button class="flex items-center justify-between w-full p-8">
                    <h1 class="font-semibold text-gray-700 dark:text-white">How do you withdraw from Loom?</h1>

                    <span class="text-white bg-purple rounded-full question">
                        <svg xmlns="http://www.w3.org/2000/svg" class="w-6 h-6" fill="none" viewBox="0 0 24 24" stroke="currentColor">
                            <path class="question" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M12 6v6m0 0v6m0-6h6m-6 0H6" />
                        </svg>
                    </span>
                </button>

                <hr class="border-gray-200 dark:border-gray-700">

                <p class="p-8 text-sm text-gray-500 dark:text-gray-300 answer hidden">
                   Scroll further up the page – we’ve broken it right down for you in 4 simple steps. Let us know if you need a hand with this.
                </p>
            </div>

            <div class="border-2 border-white rounded-lg section">
                <button class="flex items-center justify-between w-full p-8 question">
                    <h1 class="font-semibold text-gray-700 dark:text-white">How i can play for my appoinment ?</h1>

                    <span class="text-white bg-purple rounded-full question">
                        <svg xmlns="http://www.w3.org/2000/svg" class="w-6 h-6" fill="none" viewBox="0 0 24 24" stroke="currentColor">
                            <path class="question" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M12 6v6m0 0v6m0-6h6m-6 0H6" />
                        </svg>
                    </span>
                </button>

                <hr class="border-gray-200 dark:border-gray-700">

                <p class="p-8 text-sm text-gray-500 dark:text-gray-300 answer hidden">
                    Lorem ipsum dolor sit, amet consectetur adipisicing elit. Voluptas eaque nobis, fugit odit omnis fugiat deleniti animi ab maxime cum laboriosam recusandae facere dolorum veniam quia pariatur obcaecati illo ducimus?
                </p>
            </div>


            <div class="border-2 border-white rounded-lg section">
                <button class="flex items-center justify-between w-full p-8">
                    <h1 class="font-semibold text-gray-700 dark:text-white">How i can play for my appoinment ?</h1>

                    <span class="text-white bg-purple rounded-full question">
                        <svg xmlns="http://www.w3.org/2000/svg" class="w-6 h-6" fill="none" viewBox="0 0 24 24" stroke="currentColor">
                            <path class="question" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M12 6v6m0 0v6m0-6h6m-6 0H6" />
                        </svg>
                    </span>
                </button>

                <hr class="border-gray-200 dark:border-gray-700">

                <p class="p-8 text-sm text-gray-500 dark:text-gray-300 answer hidden">
                    Lorem ipsum dolor sit, amet consectetur adipisicing elit. Voluptas eaque nobis, fugit odit omnis fugiat deleniti animi ab maxime cum laboriosam recusandae facere dolorum veniam quia pariatur obcaecati illo ducimus?
                </p>
            </div>
        </div>
    </div>
</section>