<span class="text-gray-700 block px-4 py-2 text-sm hover:bg-gray-200 hover:text-white" role="menuitem" tabindex="-1" ,
	id="menu-item-2"><%= button_to "Logout", destroy_user_session_path, method: :delete %></span>
<h1>Welcome to Admin Dashboard!</h1>