<table class="shadow-lg bg-white border-separate rounded-md p-2 w-full mt-6">
  <tr class="p-3">
    <th class="bg-blue-100 border text-left p-6">Amount</th>
    <th class="bg-blue-100 border text-left p-6">Coupon</th>
    <th class="bg-blue-100 border text-left p-6">Bonus</th>
  </tr>
  <tr>
    <td class="border p-6">Alfreds Futterkiste</td>
    <td class="border p-6">Dante Sparks</td>
    <td class="border p-6">Italy</td>
  </tr>
  <tr class="p-3">
    <td class="border p-6">Centro comercial Moctezuma</td>
    <td class="border p-6">Neal Garrison</td>
    <td class="border p-6">Spain</td>
  </tr>
  <tr>
    <td class="border p-6">Ernst Handel</td>
    <td class="border p-6">Maggie O'Neill</td>
    <td class="border p-6">Austria</td>
  </tr>
</table>